* {
    box-sizing: border-box;
  }

  .img-container-container {
    display: flex;
    flex-direction: row;
    
    position: relative;
    margin-left: auto;
    margin-right: auto;

  }
  
  .img-container {
    position: relative;
    flex: 1;
    border: 1px dotted;
}
  
  .img-zoom-lens {
    position: absolute;
    border: 2px dotted #000000;
    /*définissez la taille de la lentille:*/
    width: 100px;
    height: 100px;
  }
  
  .img-zoom-result {
    border: 1px solid #d4d4d4;
    /*définissez la taille du résultat DIV:*/
    width: 500px;
    height: 500px;
    background: no-repeat;

  }



  
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} 