* {
    box-sizing: border-box;
  }

  .img-container-container {
    display: flex;
    flex-direction: row;
    
    position: relative;
    margin-left: auto;
    margin-right: auto;

  }
  
  .img-container {
    position: relative;
    flex: 1;
    border: 2px solid
    ;
}
  
  .img-zoom-lens {
    position: absolute;

    width: 100px;
    height: 100px;
  }

  [frozen = true].img-zoom-lens {
    border: 2px dotted #7c7c7c;
  }
  
  
  [frozen = false].img-zoom-lens {
    border: 2px solid #0945b9;
  }
  
  .img-zoom-result {
    border: 1px solid #d4d4d4;
    /*définissez la taille du résultat DIV:*/
    width: 500px;
    height: 500px;
    background: no-repeat;
    position: absolute;

  }