<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF8" />
        <title>Lentille</title>

        <link href="test.css" rel="stylesheet" type="text/css" />
        <script src="js-image-zoom.js" type="application/javascript"></script>
        <script src="html2canvas.min.js" type="application/javascript"></script>
        <script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous">
        </script>
        <script src="csvExport.js"></script>

    </head>
    <body>
        <div id="mainContainer">
            <div id = "btnDiv">
                
            </div>
            <div class="img-container-container" id="container-container">
                <div id="container1" class="img-container" style="width: 400px">
                    <img
                        id="myimage"
                        src="../../../src/img1.jpg"
                        height="240"
                    />
                    <div id="myresult" class="img-zoom-result"></div>
                </div>

                <div id="container2" class="img-container" style="width: 400px">
                    <img
                        id="myimage2"
                        src="../../../src/img1.jpg"
                        height="240"
                    />
                    <div id="myresult2" class="img-zoom-result"></div>
                </div>

                <div id="table" class="features-table"> 
                
                <div id="tableSolo">
                <table
                    cellspacing="0"
                    rules="all"
                    border="1"
                    id="Table1"
                    style="border-collapse: collapse"
                    flex-flow="1"

                >
                    <tr>
                        <td>Feature</td>
                        <td> + </td>
                        <td> - </td>
                        <td>Comment</td>
                    </tr>

                </table>
            </div>
    
            
            </div>

            </div>
        </div>

        <script>
            src =
                "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
        </script>
        

    <!-- <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

        <script></script>

        <script src="lentille.js" type="application/javascript"></script>
        <script src="face_features_table.js" type="application/javascript"></script>
    </body>
</html>
